.centre {
	display: flex;
    justify-content: center;
}

body {
	background: rgb(0, 0, 0);
}

.cover {
	font-size: large;
	margin: auto;
	width: 65%;
	padding: 10px;
}

.h1 {
	font-size: x-large;
	display: flex;
    justify-content:center;
	color:rgb(236, 85, 15);
	background:rgb(5, 0, 1);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h2 {
	color:rgb(235, 16, 16);
	text-align: center;
	font-size: xx-large;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.h3 {
	color:rgb(34, 243, 62);
	text-align: center;
	font-size: xx-large;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.para {
	color: rgb(60, 60, 245);
	font-size: x-large;
	margin: auto;
	display: flex;
	justify-content: center;
	width: 650px;;
	padding: 10px;;
	text-align: justify;
}



.nav {
	font-size: large;
	margin: auto;
	display: flex;
	justify-content: center;
	background-color: rgb(255, 145, 0);
}

.list {
	color: rgb(36, 36, 241);
	margin: auto;
	display: flex;
	justify-content: center;
}


.column {
	float: center;
	color: rgb(247, 9, 9);
	width: 25%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}


.row {
	display: flex;
  }
  
.column {
	flex: 25%;
	padding: 5px;
}

.caption {
	font-size: x-large;
	width: 240px;
}

.col {
	float: left;
	padding: 10px;
	height: 300px;
}
  
.left {
	width: 25%;
}
  
.right {
	width: 75%;
}

.ro:after {
	content: "";
	display: table;
	clear: both;
}
  .foot{
	  text-align: center;
	  color: rgba(37, 235, 241, 0.945);
  }

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }